body{
  max-width: auto;
  max-height: auto;
  background: tomato;
  margin: 0px;
  padding: 0px;
}

header{
background: #421371;
height: 79px;
margin: 0px;
padding: 0px;
}

.objectImage {
  width: 382px;
  height: 80px;
  object-fit: cover;
  margin-left: 250px;
}

nav{
  height: 46px;
  background:linear-gradient(#ffffff, #BBBBBB);
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  justify-items: center;  
}

nav div{
background: #E9B15E;
height: 46px;
width: 206px;
display: flex;
flex-wrap: nowrap;
align-content: center;
text-decoration: none;
font-size: 36px;
line-height: 42px;
justify-content: space-between;
}

a:link, a:visited{
  text-decoration: none;
  text-align: center;
}

nav div a {
 
}